<%- include('../partials/header') %>
<form id="add-ticket-form" action="/flights/<%= flightId %>/tickets" method="POST">
    <label>Seat:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <br>
    <label>Price:</label>
    <input type="text" name="price">
    <br><br>
    <button type="submit">Submit</button>
</form>
<%- include('../partials/footer') %>