<%- include('../partials/header') %>

<form id="edit-form" action="/flights" method="POST">
    <label>Airline:</label>
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
    </select><br>
    <label>Airport</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select><br>
    <label>Flight Number (Number between 10 & 9999):</label>
    <input type="text" name="flightNo"><br>
    <label>Departs:</label>
    <input type="datetime-local" id="departs" name="departs"><br>
    <input type="submit" value="Edit Flight">
  </form>

<%- include('../partials/footer') %>