<%- include('../partials/header') %>

<h2>Enter a New Movie</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <input type="text" name="airline">
  </label><br>
  <label>Airport
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </label><br>
  <label>Flight Number (between 10 - 9999):
    <input type="text" name="flightNo">
  </label><br>
  <label for="departs">Departure:</label>
    <input type="datetime-local" id="departs"
       name="departure" value="2021-06-21T00:00"
       min="2021-06-21T00:00" max="2022-06-21T00:00">
  </label><br>
  <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>