<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <select name="airline">
      <!-- // Southwest', 'United', 'American -->
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
      <option value="American" selected>American</option>
    </select>
  </label><br>
  <label>Airport:
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN" selected>DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </label><br>
  <label>Flight Number (between 10 - 9999):
    <input type="text" name="flightNo">
  </label><br>
  <label for="departs">Departure:</label>
    <input type="datetime-local" id="departs"
       name="departure" value= <%= function () {
        return new Date().getFullYear();
      } %>
       min: max:
     }
  </label><br>
  <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>